<div class="row-fluid">
  <div class="span12">

    <div class="tabbable tabs-left">

      <ul class="nav nav-tabs">
        <li class="{{productsTab}}"><a href="/admin/products"><h4>Products</h4></a></li>
        <li class="{{servicesTab}}"><a href="/admin/services"><h4>Services</h4></a></li>
        <li class="{{profilesTab}}"><a href="#"><h4><strike>Profiles</strike></h4></a></li>
      </ul>

      <div class="tab-content">

        <div class="row-fluid" id="item-table">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <td><b>Name</b></td>
                <td><b>Description</b></td>
                <td><b>Options</b></td>
              </tr>
            </thead>

            <tbody>
              {{#if items}}
              {{#each items}}
                <tr id="{{_id}}">
                  <td class="span2">{{name}}</td>
                  <td class="span8">{{description}}</td>
                  <td class="span2">
                    <button class="btn btn-primary btn-small edit-item" ref="/{{type}}/{{_id}}">EDIT </button>
                    <button class="btn btn-danger btn-small delete-item pull-right" ref="/{{type}}/{{_id}}">DELETE</button>
                  </td>
                </tr>
              {{/each}}
            {{else}}
              <tr>
                <td>There are no Items to display.</td>
              </tr>
            {{/if}}
            </tbody>
          </table>
          <div class="span11">
            <div class="row-fluid" id="new-item-button">
              <div class="span2 offset10"><button id="add-new" type="button" class="btn btn-primary pull-right">Add New</button></div>
            </div>
          </div>
        </div>

        <!-- Edit item form -->
        <div class="row-fluid" id="item-edit">
          <div class="span12">
            <form id="edit-item" action="" method="POST">
              <legend>Edit existing</legend>
                <label>Name</label>
                <input type="text" name="name" placeholder="Existing..." required>

                <label>Description</label>
                <textarea name="description" class ="span10" rows="10" placeholder="Change Description..."></textarea>
                <span class="help-block">The description to be displayed.</span>

                <input type="hidden" name="id" required>
                <input type="hidden" name="type" required>
                <div class="form-actions">
                  <button id="edit-submit" type="button" class="btn btn-success">Save</button>
                  <button id="edit-cancel" type="button" class="btn">Cancel</button>
                  <button id="edit-hidden-submit" type="submit"></button>
                </div>
            </form>
          </div>
        </div>

        <!-- New Item form -->
        <div class="row-fluid" id="item-new">
          <div class="span12">
            {{#if servicesTab}}
              <form id="new-item" action="/service" method="POST">
            {{ else }}
              {{#if profilesTab}}
                <form id="new-item" action="/profile" method="POST">
              {{else}}
                <form id="new-item" action="/product" method="POST">
              {{/if}}
            {{/if}}
              <legend>Add new</legend>
                <label>Name</label>
                <input type="text" name="name" placeholder="New..." required>

                <label>Description</label>
                <textarea name="description" class ="span10" rows="10" placeholder="New Description..."></textarea>
                <span class="help-block">Add a description here to be displayed.</span>

                <div class="form-actions">
                  <button id="add-submit" type="submit" class="btn btn-success">Save New</button>
                  <button id="add-cancel" type="button" class="btn">Cancel</button>
                </div>
            </form>
          </div>
        </div>
      </div> <!-- Tab Content -->
    </div> <!--Tabbable -->
  </div> <!-- span -->
</div> <!-- row -->