
  <div class="row-fluid">
    <h1>Home</h1>
  </div>
  <!-- Theme pallet -->
  <div class="row-fluid">
    <div class="color-item span2 primary-1"></div>      
    <div class="color-item span2 primary-2"></div>      
    <div class="color-item span2 primary-3"></div>      
    <div class="color-item span2 primary-4"></div>      
    <div class="color-item span2 primary-5"></div>
  </div>
  <!-- end Theme pallet -->
  <hr />
  <div class="row-fluid">
    <div class="span12">
      <h3>My Goal:</h3>
      <p>I want to develop a website/application for a small to mid sized vetrenary office. I plan on donating the functioning site to my local vet office.</p>
      <p>By using an existing business as a "client" for the site I will have a set of base requirements to make the site useful. Such as product lists, services provided, employee profiles and possibly an appointment schedule. For stage 1 I want to keep the site purely informational. In the future I would like to have the ability to sign up for a news letter or events. A final product may even be able to track a users purchases, appointments and send reminders for things like heartworm treatments or anual checkups.</p>
    </div>
  </div>
  <hr />
  <div class="row-fluid">
    <div class="span12">
      <h3>Dynamic content area</h3>
      <p>Adjusts to display information about the item selected in the Side Bar area. For example if 'Dog Food' were selected this area would list the different types of dog food with a short description and price. Clicking a type of dogfood would open a larger more detailed description.</p>
    </div>
  </div>
